.Phone-system-navigation-bar-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.Phone-system-navigation-bar-section div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 400;
    color: #EB4C6B;
    background-color: black;
}
/* Hide desktop hero by default */
.Desktop-system-navigation-bar {
  display: none;
}

/* Desktop breakpoint */
@media (min-width: 768px) {
    /* Hide mobile hero */
    .Phone-system-navigation-bar-section {
        display: none;
    }

    /* Show desktop hero */
    .Desktop-system-navigation-bar {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: black;
        padding: 8px 48px;
    }
    .desktop-hero-item {
        display: flex;
        align-items: center;
        gap: 8px;
        color: #EB4C6B;
        font-size: 12px;
        font-weight: 400;
    }
}