.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    padding: 24px 16px 16px;
    box-sizing: border-box;
}

/* Product card */
.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 12px;
    box-sizing: border-box;
}

/* Product image */
.product-card-image {
    width: 100%;
    height: 180px;
    object-fit: contain;
    background-color: #f5f5f5;
    border-radius: 4px;
    background: linear-gradient(to bottom left,#ffffff 0%,#f7f7f7 35%,#eeeeee 65%,#dcdcdc 100%);
}
/* Product Information Area */
.product-info-area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4px;
    gap: 8px;
    box-sizing: border-box;
}
/* Meta info */
.product-card-meta {
    display: flex;
    flex-direction: column;
    gap: 6px;
    flex: 1;        /* take available space for consistent card structure*/
    min-width: 0;  /* to prevent overflow into heart */
    padding: 4px;
    box-sizing: border-box;
}

.product-card-name {
    font-weight: 700;
    font-style: Bold;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.product-card-signin-options {
    font-weight: 400;
    font-style: Regular;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #888792;

}

.product-card-signin  {
    text-decoration: underline;
    color: inherit;
}

/* Wishlist (heart) */
.wishlist-btn {
    position: absolute;
    right: 8px;
    bottom: 56px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.wishlist-btn img {
    width: 18px;
    height: 18px;
}

/* No products */
.no-products {
    padding: 32px 16px;
    text-align: center;
    font-size: 14px;
    color: #777;
}

/* Tablet */
@media (min-width: 768px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        padding: 24px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
        padding: 32px;
    }
    .product-card-image {
        height: 220px;
    }
    .product-card-name {
        font-size: 18px;
        font-weight: 700;
    }
    .product-card-signin-options {
        font-size: 14px;
    }
}